/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

@use "sass:color";

// Colors
$red-color: #ff3366 !default;
$red-color-dark: #cc0044 !default;
$orange-color: #ff9900 !default;
$blue-color: #3399ff !default;
$blue-color-dark: #0066cc !default;
$cyan-color: #00ccff !default;
$light-cyan-color: color.adjust($cyan-color, $lightness: 25%);
$green-color: #33cc33 !default;
$green-color-lime: #99cc00 !default;
$green-color-dark: #009933 !default;
$green-color-light: #ccffcc !default;
$green-color-bright: #00ff99 !default;
$purple-color: #9933cc !default;
$light-purple-color: color.adjust($purple-color, $lightness: 25%);
$pink-color: #ff3399 !default;
$pink-color-light: #ffccff !default;
$yellow-color: #ffcc00 !default;

$grey-color: #666666 !default;
$grey-color-light: color.adjust($grey-color, $lightness: 40%);
$grey-color-dark: #1a1a1a;
$grey-900: #212529;

$white-color: #ffffff !default;
$black-color: #000000 !default;

// Theme colors

$code-bg-color-light: rgba($purple-color, 0.05);
$code-bg-color-dark: #2d2d2d !default;

// Font awesome location
$fa-font-path: "../webfonts";

// Tabler icons location
$ti-font-path: "../fonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;
